<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Should fonts be compiled. => | true | false |-->
    <add key="CompileFonts" value="false" />
    <!--Should materials be compiled seperately, or included with the model. => | true | false |-->
    <add key="CompileMaterialsSeperate" value="false" />
    <!--Should textures be compiled. => | true | false |-->
    <add key="CompileTextures" value="true" />
    <!--Should pngs be ignored when compiling textures. => | true | false |-->
    <add key="IgnorePng" value="true" />
    <!--Target profile options. => | HiDef | Reach |-->
    <add key="TargetProfile" value="HiDef" />
    <!--Compress output options. => | true | false |-->
    <add key="CompressOutput" value="false" />
    <!--Full path to input folder. Default => | default |-->
    <add key="InputDirectory" value="default" />
    <!--Full path to intermediate folder. Default => | default |-->
    <!--Note: This in unimportant.-->
    <add key="IntermediateDirectory" value="default" />
    <!--Full path to output folder. Default => | default |-->
    <add key="OutputDirectory" value="default" />
    <!--Should files be rebuilt if an xnb already exists. => | true | false |-->
    <!--Warning: If this is disabled content will not be rebuilt even if the xnb is out-of-date-->
    <add key="RebuildAll" value="true" />
    <!--Scale multiplier for compiled models. Default => | 1f |-->
    <add key="ModelScale" value="1.0" />
    <!--Should the vertex winding order be swapped for compiled models. Default => | false |-->
    <add key="ModelSwapWindingOrder" value="false" />
    <!--Should tangents be generated for compiled models. Default => | false |-->
    <!--Note: Will increase file size, but is needed for normal/bump mapping.-->
    <add key="ModelGenerateTangentFrames" value="false" />
    <!--Should the output be shader bytecode (.fxc file) instead of compiling it into a xnb. Default => | false |-->
    <add key="OutputEffectBytecode" value="false" />
    <!--The file extension for the output file type, the default for some is xnc since terraria prevents the loading of most .xnb files-->
    <!--Note: Include the period-->
    <add key="EffectExtension" value=".xnb" />
    <add key="FontExtension" value=".xnb" />
    <add key="TextureExtension" value=".xnc" />
    <add key="ModelExtension" value=".xnc" />
    <add key="MaterialExtension" value=".xnc" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>