.obj/*
.vs/*
obj/spritersguildwip.csproj.nuget.g.targets
obj/spritersguildwip.csproj.nuget.g.props
obj/spritersguildwip.csproj.nuget.dgspec.json
obj/spritersguildwip.csproj.nuget.cache
obj/project.assets.json
obj/Debug/net45/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/net45/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/net45/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/net45/spritersguildwip.pdb
obj/Debug/net45/spritersguildwip.dll
obj/Debug/net45/spritersguildwip.csprojResolveAssemblyReference.cache
obj/Debug/net45/spritersguildwip.csprojAssemblyReference.cache
obj/Debug/net45/spritersguildwip.csproj.FileListAbsolute.txt
obj/Debug/net45/spritersguildwip.csproj.CoreCompileInputs.cache
obj/Debug/net45/spritersguildwip.csproj.CopyComplete
obj/Debug/net45/spritersguildwip.assets.cache
obj/Debug/net45/spritersguildwip.AssemblyInfoInputs.cache
obj/Debug/net45/spritersguildwip.AssemblyInfo.cs
obj/Debug/net45/spritersguildwip.csproj.CoreCompileInputs.cache
obj/Debug/net45/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/net45/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/net45/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/spritersguildwip/DesignTimeBuild/.dtbcache
.vs/spritersguildwip/DesignTimeBuild/.dtbcache
obj/Debug/net45/spritersguildwip.csproj.CoreCompileInputs.cache
obj/Debug/net45/spritersguildwip.csproj.CoreCompileInputs.cache
.vs/spritersguildwip/DesignTimeBuild/.dtbcache
obj/Debug/net45/starlightriver.AssemblyInfo.cs
obj/Debug/net45/starlightriver.AssemblyInfoInputs.cache
obj/Debug/net45/starlightriver.assets.cache
obj/Debug/net45/starlightriver.csproj.CoreCompileInputs.cache
obj/Debug/net45/StarlightRiver.csprojAssemblyReference.cache
obj/StarlightRiver.csproj.nuget.cache
obj/starlightriver.csproj.nuget.dgspec.json
obj/starlightriver.csproj.nuget.g.props
obj/starlightriver.csproj.nuget.g.targets
bin/Debug/net45/starlightriver.dll
bin/Debug/net45/starlightriver.pdb
bin/Debug/net45/Terraria.pdb
bin/Debug/net45/Terraria.xml
obj/Debug/net45/StarlightRiver.csproj.FileListAbsolute.txt
obj/Debug/net45/StarlightRiver.csprojResolveAssemblyReference.cache
obj/Debug/net45/starlightriver.pdb
obj/Debug/net45/StarlightRiver.dll
obj/Debug/net45/StarlightRiver.csproj.FileListAbsolute.txt
bin/Debug/net45/Terraria.xml
bin/Debug/net45/Terraria.pdb
obj/Debug/net45/StarlightRiver.csproj.FileListAbsolute.txt
bin/Debug/net45/Terraria.xml
bin/Debug/net45/Terraria.pdb
obj/Debug/net45/StarlightRiver.csproj.FileListAbsolute.txt
bin/Debug/net45/starlightriver.pdb
bin/Debug/net45/starlightriver.dll
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/MonoMod.RuntimeDetour.xml
obj/Debug/net45/StarlightRiver.csproj.FileListAbsolute.txt
obj/Debug/net45/StarlightRiver.dll
obj/Debug/net45/starlightriver.pdb
Properties/launchSettings.json
Properties/launchSettings.json
bin/Debug/net45/starlightriver.dll
bin/Debug/net45/starlightriver.pdb
obj/Debug/net45/StarlightRiver.csproj.FileListAbsolute.txt
obj/Debug/net45/StarlightRiver.dll
obj/Debug/net45/starlightriver.pdb
Properties/launchSettings.json
StarlightRiver.csproj.DotSettings
obj/
bin/
Properties/launchSettings.json
