<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Should textures be compiled. => | true | false |-->
    <add key="CompileTextures" value="true" />
    <!--Should pngs be ignored when compiling textures. => | true | false |-->
    <add key="IgnorePng" value="true" />
    <!--Compress output options. => | true | false |-->
    <add key="CompressOutput" value="false" />
    <!--Target profile options. => | HiDef | Reach |-->
    <add key="TargetProfile" value="HiDef" />
    <!--Full path to input folder. Default => | default |-->
    <add key="InputDirectory" value="../Source" />
    <!--Full path to intermediate folder. Default => | default |-->
    <!--Note: This in unimportant.-->
    <add key="IntermediateDirectory" value="default" />
    <!--Full path to output folder. Default => | default |-->
    <add key="OutputDirectory" value="default" />
    <!--Create a detailed log file for the building process. => | true | false |-->
    <add key="CreateLogFile" value="false" />
    <!--Close immediately after compiling, skips the timer. => | true | false |-->
    <add key="CloseImmediately" value="true" />
    <!--Should this wait for input when a error occurs, if CloseImmediately is true the program immediately closes on error, else it starts the normal timer. => | true | false |-->
    <add key="WaitForInputOnError" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>